name: Blog

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    name: Update Blog section
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Pull posts
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://arash-hatami.ir/rss/"
          max_post_count: 5
          readme_path: ./README.md
          user_agent: rss-parser
          commit_message: "Updated blog posts"
          retry_count: 3
          retry_wait_time: 10
